body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  img {
    display flex;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(197, 125, 125);
  }
  
  button {
    width: 200px;
    font-size: 16px;
    color: white;
    background-color: #0040ff;
    border: 1px solid #7878ff;
    cursor: pointer;
    margin-top: 50px;
  }